body{background-color: #5e5e5e; text-align: justify; font-size: 18px;}
h1{text-align: center;background-color: #A898A0;color: #481010;}
h3{text-align: justify;color: #404048;}
b{color:#000000;font-size: 18px;}
i{color: #000000; font-size: 18px;}
header, footer{background-color: #701080;text-align: center;font-size: 10px;}
main{background-color: #D89098;}
PRIMEIROPARAGRAFO{text-align: justify;font-size: 18px; border: #000000 solid 2px;padding: 10px;margin: 10px;}
SEGUNDOPARAGRAFO{text-align: justify;font-size: 18px; border: #000000 solid 2px;padding: 10px;margin: 10px;}
#TITULOIMAGEM{width: 57; height: 57;}
#Lista{display: inline-block;}
strong {color: #000000;}
p {text-align:center; color: #ffffff;}
li {color: #ffffff;}
nav li {text-transform: uppercase;
    display: inline;
    margin: 0 0 0 15px;}
